<footer>
  <nav class="round">
    <ul>
      <li><%= link_to I18n.t(:t_about), about_path %></li>
      <li><%= link_to I18n.t(:t_contact), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= I18n.t(:t_news) %></a></li>
      <li><a href="http://www.railstutorial.org/"><%= I18n.t(:t_rails_tutorial) %></a></li>
    </ul>
  </nav>
</footer>
